<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>RESTAURANTS</h1>
  <ul>
    <% restaurants.forEach(restaurant => { %>
      <a href="/restaurant/<%= restaurant._id %>"><%= restaurant.name %></a>
      in <%= restaurant.location %>
    <% }) %>
  </ul>
</main>
















<%- include('../partials/footer') %>