<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>RESTAURANTS</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% restaurants.forEach(restaurant => { %>
        <% let totalRating = 0 %>
        <% restaurant.reviews.forEach(review => { %>
          <% totalRating += review.rating %>
        <% }) %>
        <% const averageRating = restaurant.reviews.length ? (totalRating / restaurant.reviews.length).toFixed(1) : "-" %>
        <tr>
          <td class="name"><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></td>
          <td class="location"><%= restaurant.location %></td>
          <td class="rating"><%= averageRating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>