<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>RESTAURANTS</h1>
  <table>
    <tbody>
      <% restaurants.forEach(restaurant => { %>
        <tr>
          <td><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></td>
          <td><%= restaurant.location %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>





<%- include('../partials/footer') %>