<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
		<div>
      <%= restaurant.name %> 
      <a href="/restaurants/<%= restaurant._id %>/edit">
        <button>Edit Restaurant</button>
      </a>
    </div>
    <div><%= restaurant.location %></div>
    <div><%= restaurant.specialty %></div>
    <div><%= restaurant.foodType %></div>
    <div> <%= restaurant.fancy ? 'Fancy' : 'Not Fancy' %> </div>
  </section>
</main>



<%- include('../partials/footer') %>