<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div><%= restaurant.name %></div>
    <div>Location:</div>
    <div><%= restaurant.location %></div>
    <div>Speciality</div>
    <div><%= restaurant.specialty %></div>
    <div>Food Type</div>
    <div><%= restaurant.foodType %></div>
    <div><%= restaurant.attire %></div>
    <div>
      <% if (user) { %>
      <a href="/restaurants/<%= restaurant._id %>/edit">
        <button>Edit Restaurant</button>
      </a>
      <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit"> Delete Restaurant</button>
        </form>
      <% } %>
    </div>
  </section>
  <h2>Reviews</h2>
  <% if (user) { %>
    <h3>Add A Review</h3>
    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST">
      <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <label for="visitAgain-checkbox">Visit Again?</label>
    <input type="checkbox" name="visitAgain" id="visitAgain-checkbox" value="true">
    <button type="submit">Add Review</button>
  </form>
  <% } %>
  <% if (restaurant.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
					<th>Visit Again?</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %> 
        <% restaurant.reviews?.forEach(function(review) { %>
          <% total += review.rating %>
          <tr>
            <td><%=review.author.name%> - <%=review.content %></td>
            <td><%= review.rating %></td>
            <td> <%= review.visitAgain ? "Yes" : "No" %></td>
            <td><% if (review.author.equals(user?.profile._id)) { %>
            <a href="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>/edit">
              <button class="btn">Edit Review</button>
            </a>
            <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</main>



<%- include('../partials/footer') %>