<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
		<div>
      <% if (user) { %>
      <%= restaurant.name %> 
      <a href="/restaurants/<%= restaurant._id %>/edit">
        <button>Edit Restaurant</button>
      </a>
      <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit"> Delete Restaurant</button>
        </form>
      <% } %>
    </div>
    <div><%= restaurant.location %></div>
    <div><%= restaurant.specialty %></div>
    <div><%= restaurant.foodType %></div>
    <div> <%= restaurant.fancy ? 'Fancy' : 'Not Fancy' %> </div>
  </section>
</main>



<%- include('../partials/footer') %>