<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/restaurants/show.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <section>
    <table>
      <tr>
        <td>Restaurant Name:</td>
        <td><%= restaurant.name %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= restaurant.location %></td>
      </tr>
      <tr>
        <td>Speciality:</td>
        <td><%= restaurant.specialty %></td>
      </tr>
      <tr>
        <td>Food Type:</td>
        <td><%= restaurant.foodType %></td>
      </tr>
      <tr>
        <td>Attire:</td>
        <td><%= restaurant.attire %></td>
      </tr>
      <tr>
        <td>
          <% if (user) { %>
            <div class="restaurantBtns">
          <a href="/restaurants/<%= restaurant._id %>/edit">
            <button class=editButton>Edit Restaurant</button>
          </a>
          <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete Restaurant</button>
          </form>
          <% } %>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <h2>Add A Review!</h2>
  <% if (user) { %>
    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST">
      <label for="content-textarea"></label>
    <textarea name="content" id="content-textarea"></textarea>
    <div>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <label for="visitAgain-checkbox">Visit Again?</label>
    <input type="checkbox" name="visitAgain" id="visitAgain-checkbox" value="true">
    <button type="submit">Add Review</button>
  </div>
  </form>
  <% } %>
  <h3>Reviews</h3>
  <% if (restaurant.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Creator</td>
          <th>Review</th>
          <th>Rating</th>
					<th>Visit Again?</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %> 
        <% restaurant.reviews?.forEach(function(review) { %>
          <% total += review.rating %>
          <tr>
            <td><%=review.author.name%></td>
              <td><%=review.content %></td>
            <td><%= review.rating %></td>
            <td> <%= review.visitAgain ? "Yes" : "No" %></td>
            <td><% if (review.author.equals(user?.profile._id)) { %>
            <a href="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>/edit">
              <button class="btn">Edit Review</button>
            </a>
            <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</main>



<%- include('../partials/footer') %>